:root {
  /* color palette */
  --text-white: #fff;
  --text-black: #000000;
  --caribbean-current: #006466;
  --green-light: #065a60;
  --green-med: #0b525b;
  --green-dark: #144552;
  --charcoal: #1b3a4b;
  --prussian-blue: #212f45;
  --space-cadet: #272640;
  --purple-dark: #312244;
  --purple-med: #3e1f47;
  --purple-light: #4d194d;
}

* {
  margin: 0;
  padding: 0;
}
