@import "../index.css";

.homeImg {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 70%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

p {
  padding-top: 20px;
  color: var(--yellow);
  font-family: var(--font-playfair);
  font-size: 15px;
}
